<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meadowlark Travel</title>
   <!--浏览器标题栏加入图标-->
  <link rel="Shortcut Icon" href="/img/travellogo.jpg" type="image/x-icon" />
</head>
<body>
  <header>
    <img src="/img/travellogo.jpg" alt="Meadowlak Travel Logo" style="width: 100%; height: 50px">
  </header>
  {{{body}}}
</body>
</html>